:root {
    --main-color: #0AAAA0;
    --main-green: #01A70E;
}


body {

    
    background: black;

    color: #D9DADB;
    font-family: Helvetica;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.highlight {
    color: var(--main-color);
}
canvas {
   position: fixed;
   height: 100%;
   width: 100%;
   z-index: -1;
}
.projects img {
    width: 100%;
}
.app{
    position: absolute;
    
    display: grid;
    grid-template-columns: 1fr;

   text-align: center;

    
}

.about-me {
    display: grid;
    grid-template-columns: 1fr;
  padding: 2rem 1rem 1rem;
   
}
.description{
 padding: 1.5rem;

}
.project-description {
    padding: 1.0rem;
    margin: 1rem 0rem;
}
.profile  {
    
    height: 10rem;
    border-radius: 5%;
}

.profile-section {
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    padding: 1rem;
}

.adjust, .about-me {
    margin: 0% 10%;
}
ul{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

}
.projects-header {
    padding: 1rem;
    
}
a.project-btn {
    margin: 1rem auto;
    background: #222;
    color: white;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
    box-shadow: 0px 2px 3px #eee;
}

a.project-btn:hover{
    background: var(--main-color);
}
li {
    list-style: none;
    display: inline;
}

svg {
 height: 2rem;
}

.projects-section a.btn {
    text-decoration: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding:.5rem;
    
}

    .projects-section a.btn:hover {
        border: 1px solid var(--main-color);
        color: #D9DADB;
        background: var(--main-color);
    }


.projects-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    padding: 5rem 3rem;
    
}

.projects-section img:hover{
    box-shadow: var(--main-color) 0px 0px 4px 4px;
}

.hide {
    display: none;
}
@media screen and (min-width: 768px) {
  
    .about-me {
        grid-template-columns: 1fr 1fr;
    }
    ul {
       
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0rem;
    }
    .profile-section {
        border: none;
       
        padding: 3.5rem 0rem;
        margin: 0;
    }

    .projects-section {
        grid-template-columns: 1fr;
        padding: 7rem 5rem;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    canvas {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}


@media screen and (min-width: 1440px) {
   h2{
       font-size: 2.5rem;
   }

    h3 {
        font-size: 2.0rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    a.project-btn, a.btn {
        font-size: 1.5rem;
    }

    svg {
        height: 4rem;
    }

    .profile{
        height: 15rem;
        margin: 1rem 0rem;
    }
    .about-me{
        grid-gap: 2.5rem;
    }
}